{% extends 'base.html.twig' %}

{% block title %}Admin create !{% endblock %}

{% block body %}

    <div class="admin-edit">
        <div class="jumbotron">
            <div class="container">
                <h1>Editer mon projet</h1>
            </div>
        </div>
    </div>
{% endblock %}
